name: Update Setup Version

on:
  # pull_request:
  push:
    branches:
    - 'dev'

jobs:
  update_version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: "Obtener versión actual y calcular nueva versión"
        id: update_version
        run: |
          CURRENT_VERSION=$(grep -oP "(?<=version=\")[^\"]+" setup.py)
          IFS='.' read -r -a VERSION_PARTS <<< "$CURRENT_VERSION"
          echo "NEW_VERSION_PY=${VERSION_PARTS[0]}.$((${VERSION_PARTS[1]} + 1)).${VERSION_PARTS[2]}" >> "$GITHUB_ENV"

      - name: "Actualizar versión en setup.py"
        run: |
          sed -i "s/version=\".*\"/version=\"${{ env.NEW_VERSION_PY }}\"/" setup.py
          cat setup.py
